# Entornos virtuales
venv/
.venv/
**/venv/
**/.venv/

# ==========================
# PYTHON
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# VS CODE
# ==========================
.vscode/

# ==========================
# ARCHIVOS TEMPORALES
# ==========================
~$*.xlsx
*.log
*.tmp

# ==========================
# WINDOWS
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# MAC
# ==========================
.DS_Store

# ==========================
# BUILD
# ==========================
dist/
build/

# ==========================
# VARIABLES DE ENTORNO
# ==========================
.env
# ==========================
# ARCHIVOS OPERATIVOS
# ==========================
ACTAS_RAW/
UNIFICADAS/
CONSOLIDADO/
